/* 
    Document   : default
    Created on : May 25, 2009, 11:55:43 PM
    Author     : Srikalyan Swayampakula
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#overlay
{
    background : black url("../images/ajax-loader.gif") no-repeat center;
    width : 100%;
    height : 100%;
    position : fixed;
    top : 0;
    left :0;
    z-index : 1000;
    opacity : .8;
    display : none;


}

